<!--
  Generated template for the ListaDePedidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="cabecera">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Lista de Solicitud</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-list>
            <button *ngFor="let orden of ordenes" ion-item (click)="historialPedido(orden)">
        <ion-icon color="cabecera" name='cart' item-start></ion-icon>
        {{orden.created_at | date:'medium'}}

        <ion-note *ngIf="orden.estado == 1" item-end>
          En espera
        </ion-note>

        <ion-note *ngIf="orden.estado == 2" item-end>
          En camino
        </ion-note>

        <ion-note *ngIf="orden.estado == 3" item-end>
          Entregado
        </ion-note>
      </button>

        </ion-list>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>